body {
    max-width: 1170px;
    padding: 50px;
    margin: 0 auto;
}

button {
    margin: 15px;
}

:where(.traffic-light) {
    background-color: black;
    width: 50px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    border-radius: 10px;
  }
  
  :where(.traffic-light span) {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: gray;
  }
  
  .red {
    background-color: red;
  }
